.productCard {
    background-color: var(--s-color);
    width: 21em;
    height: fit-content;
    border-radius: 15px;

    .productName {
        color: #FFF;
        text-align: center;
        padding: 9px 0;
    }

    .productImg {
        width: 21em;
        margin-bottom: -4px;
    }


    .productInfo {
        height: 8em;
        background-color: #FFF;
        border-radius: 0 0 15px 15px;
        padding: 0px 15px 10px 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        ul {
            margin-top: 10px;
            li {
                margin-bottom: 8px;
                font-size: 17px;
                i {
                    color: red;
                    margin-right: 6px
                }
            }
        }
    
        button {
            width: 6em;
            height: 2.2em;
            font-size: 14px;
        }
    }

}