.container {
    
    .products {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5em;
        height: 100%;
    
        .product {
            text-align: center;
            background-color: #fff;
            border-radius: 5px;
            width: 21em;
            height: fit-content;
            border-top-right-radius: 17px;
            border-top-left-radius: 17px;

            .image {
                overflow: hidden;
                img {
                    width: 100%;
                    height: 22em;
                }
            }
    
            .productName {
                font-size: 26px;
                color: #fff;
                background-color: var(--s-color);
                padding: 6px;
                border-top-right-radius: 15px;
                border-top-left-radius: 15px;
            }
    
            .productPrice {
                font-size: 20px;
                margin: 5px 0 10px
            }
    
            .productDescription {
                max-width: 350px;
                font-size: 14px
            }
    
            .buttons {
                display: flex;
                justify-content: center;
                gap: 10px;
                padding-bottom: 10px;
                .btn {
                    width: 10em;
                    height: 3em;
                    font-size: 14px
                }
                .deleteBtn {
                    display: none
                }
            }
    
        }
    }


    .addProduct {
        color: #FFF;
        position: relative; // To center the add product button
        margin-top: 8em;
        h2 {
            background: var(--f-color);
            width: fit-content;
            padding: 2px 5px;
            border-radius: 5px;
            margin-bottom: 10px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
        }

        .productDetails {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            text-align: center;
            gap: 3em;
            margin-bottom: 1em;

            div {
                display: flex;
                flex-direction: column;
                label {
                    margin: 0 7px 5px 0;
                    font-size: 18px;
                }

                input {
                    border: 2px solid var(--f-color);
                    border-radius: 3px;
                    outline: none;
                    height: 2.5em;
                    padding-left: 7px;
                }
            }
            @media (max-width: 1000px) {
                input {
                    height: 3.5em;
                    width: 22em;
                }
                label {
                    margin: 0 0 7px 0;
                }
            }


            .imageInp {
                width: 15em;
            }
        }

        .addBtn {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            width: 11em;
            height: 2.5em;
            margin-top: 10px
        }
    }
}