
header {
    background-color: var(--f-color);
    color: #FFF;
    height: 75px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        .left {
            display: flex;
            align-items: center;

            .logo {
                margin-right: 1em;
                img {
                    width: 8em
                }
            }

            ul {
                display: flex;
                align-items: center;
                gap: 1.5em;
                
                li {
                    color: #FFF
                }
            }
        }

        .right {
            display: flex;
            align-items: center;

            .changeLang {
                display: flex;
                align-items: center;
                gap: 5px;
                margin-right: 1em;
                background-color: #FFF;
                padding: 2px 5px;
                border-radius: 5px;
                position: relative;

                .downArrow-icon {
                    width: 1.5em;
                }
                .global-icon {
                    width: 1.2em
                }


                .langs {
                    flex-direction: column;
                    position: absolute;
                    left: -20px;
                    top: 35px;
                    background-color: #FFF;
                    width: 6em;
                    border: 2px solid var(--s-color);
                    border-radius: 4px;
                    z-index:2; // To come over the landing shadow :>

                    button {
                        height: 35px;
                        border: none;
                        background-color: #FFF;
                        font-weight: 600;

                        &:hover {
                            background-color: #eeeeee;
                            cursor: pointer;
                        }
                    }
                }
            }

            .btn {
                background-color: var(--t-color);
                width: 6em;
                height: 2.5em;

                &:hover {
                    background-color: var(--t-color);
                }
            }

            .login {
                margin-right: 0.7em
            }
        }


    }
}

@media (max-width: 900px) {
    header .container {
        padding: 0 60px
    }

    .landing .container .landingContent {
        width: 70%;
    }
}

@media (max-width: 750px) {
    header {
        height: fit-content;
        padding: 1em 0
    }
    header .container {
        flex-direction: column;
    }

    .landing .container .landingContent h2 {
        font-size: 2.5em;
    }
    .landing .container .landingContent p {
        font-size: 21px;
    }
}